.button {
	position: relative;
	padding: 1.6em 2.8em;
	text-decoration: none;	
}

.button__canvas {
  --offset: 32px;
  position: absolute;
  top: calc(var(--offset) * -1);
  left: calc(var(--offset) * -1);
  width: calc(100% + var(--offset) * 2);
  height: calc(100% + var(--offset) * 2);
  transition: opacity 2s ease;
}

.button__text {
  position: relative;
  color: white;
  font-weight: bold;
  letter-spacing: .02em;
  pointer-events: none;
}

.button:hover , .button__canvas {
  opacity: .85;
  transition: opacity .2s ease;
}
.button:active, .button__canvas {
  opacity: 1;
  transition: none;
}